# Ignore Python virtual environment
venv/
.env
*.pyc
__pycache__/

# Other common ignores
.DS_Store
.vscode/ # If you use VS Code and want to ignore settings
npm-debug.log*
yarn-debug.log*
.idea/ # If you use IntelliJ/PyCharm